<!DOCTYPE html>
<html>

<head>
<meta charset=”utf-8”> 

<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel = "stylesheet" type ="text/css" href = "../stylesheets/bootstrap/css/bootstrap.css" >

<script src="../javascripts/jquery-1.11.0.min.js"></script>

</head>

<body>

<% include ../fragments/header %>

		<script>
			$( "#profile" ).addClass("active");
		</script>

<div class="container">

	<div style="margin-top:20px" class="row">
<%= JSON.stringify(user[0]) %>
	
		<div class="col-md-3 col-sm-3 col-xs-3">
	
		<% include profilesidepanel %>
	
			<script>
				$( "#btn-about" ).addClass("active");
			</script>
		
		</div>

		<div class="col-md-9 col-sm-9 col-xs-9">

		<div class="col-md-8 col-sm-8 col-xs-8">
		
		<div style="margin-bottom:15px; margin-top:30px"><strong>Skill Level:</strong> <%= user[0].difficulty.name %></div>
		activities: <%=JSON.stringify(user[0].activities.length)%>

		<div><strong>Short Bio:</strong> <%= user[0].bio %>
		</div>
		</div>
		
		<div class="col-md-4 col-sm-4 col-xs-4">
	

		</div>

		</div>


	</div>

</div>

<% include ../fragments/footer %>

<script src = "../javascripts/bootstrap.js"></script>


</body>


</html>

