<!doctype html>
<html lang="en">
<head>		
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= title %></title>
  <link rel="stylesheet" href="../stylesheets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../stylesheets/header.css">
</head>

<body>
<profilesidepanel>

		<center>
		<h4><%=user[0].username%></h4>
		
		<media>
			<img src=<%=user[0].avatar_url%> width="150px" height="150px"></img>
		</media>

		<div style="margin-top:10px; margin-bottom:0px">
		  <a id="followers" href="/profile/followers" style="font-Size:16px">Followers <%=user[0].followers.length%></a>
		</div>
		<hr style="margin-top: 10px; margin-bottom:10px" width="150px">
		<div style="margin-top:0px">
		  <a id="following" href="/profile/following" style="font-Size:16px">Following <%=user[0].follows.length%></a>
		</div>
		<hr style="margin-top: 10px; margin-bottom:10px" width="150px" border>
		<div style="margin-top:30px">
		  <a id="btn-about" href="/profile/about" class="btn btn-default">About</a>
		</div>

		<div style="margin-top:20px">
		  <a id="btn-my_posts" href="/profile/myposts" class="btn btn-default">Posts</a>
		</div>
		<!--
		<div style="margin-top:20px">
		  <a id="btn-my_creations" href="/profile/mycreations" class="btn btn-default">Creations</a>
		</div>
		-->

		<div style="margin-top:20px">
		  <a id="btn-edit_profile" data-toggle="modal" data-target="#editprofile" class="btn btn-default">Edit Profile</a>
		</div>
		
		</center>

		<div class="modal fade" id="editprofile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content col-md-11 col-md-offset-1">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit Your Profile</h4>
      </div>
      <div class="modal-body">
        		<h5><strong>Skill Level:</strong></h5>
				<span class="input-group">
        			<input type="radio" name="skill_level" value="beginner"> Beginner
					<input type="radio" name="skill_level" value="intermediate"> Intermediate
					<input type="radio" name="skill_level" value="advanced"> Advanced
      			</span>

				<h5><strong>Activities:</strong></h5>
				<span class="input-group">
					<table>
					<tr style="font-size:15px">
        			<td><input type="checkbox" name="activity" value="hiking">  Hiking  </td>
					<td><input type="checkbox" name="activity" value="cycling">  Cycling  </td>
					<td><input type="checkbox" name="activity" value="mountain_biking">  Mountain Biking  </td>
					<td><input type="checkbox" name="activity" value="swimming">  Swimming  </td>
					</tr>
					<tr style="font-size:15px">
        			<td><input type="checkbox" name="activity" value="surfing">  Surfing  </td>
					<td><input type="checkbox" name="activity" value="downhill_skiing">  Downhill Skiing  </td>
					<td><input type="checkbox" name="activity" value="snowboarding">  Snowboarding  </td>
					<td><input type="checkbox" name="activity" value="cross_country_skiing">  XC Skiing  </td>
					</tr>
					<tr style="font-size:15px">
        			<td><input type="checkbox" name="activity" value="martial_arts">  Martial Arts </td>
					<td><input type="checkbox" name="activity" value="bodybuilding">  Bodybuilding </td>
					<td><input type="checkbox" name="activity" value="powerlifting">  Powerlifting  </td>
					<td><input type="checkbox" name="activity" value="olympic_lifting">  Olympic Lifting  </td>
					</tr>
					<tr style="font-size:15px">
        			<td><input type="checkbox" name="activity" value="yoga">  Yoga </td>
					<td><input type="checkbox" name="activity" value="snowshoeing">  Snowshoeing </td>
					<td><input type="checkbox" name="activity" value="parkour">  Parkour  </td>
					<td><input type="checkbox" name="activity" value="running">  Running  </td>
					</tr>
					</table>
      			</span>

				<div style="margin-bottom: 0px" class="input-group">
					<h5><strong>Bio: (optional)</strong></h5>
					<textarea class="form-control" id="exercise-bio" style="resize:none" rows="4" cols="50" value="" resize="none" name="description"></textarea> 	

					<div style="margin-bottom: 15px" class="input-group">
						<h5><strong>Profile Picture URL</strong> (optional)</h5>
						<input id="media" type="text" class="form-control" name="media" style="resize:none" maxlength="1023">     

               		</div>

                </div>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

</profilesidepanel>
