<!DOCTYPE html>
<html>

<head>
<meta charset=”utf-8”> 

<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel = "stylesheet" type ="text/css" href = "../stylesheets/bootstrap/css/bootstrap.css" >

<script src="../javascripts/jquery-1.11.0.min.js"></script>
<script src="../javascripts/createExercise.js"></script>

</head>

<body>

<% include ../fragments/header %>

<div class="container">

	<div style="margin-top:20px" class="row">

				<div style="margin-bottom: 25px">
                    
					<center><h2>Create a new exercise</h2></center>  
							
                </div>
     
			<form id="exerciseform" class="form-horizontal col-md-6 col-sm-6 col-xs-6 col-md-offset-3  col-sm-offset-3 col-xs-offset-3 well" role="form" method="post" action="exercise/save">

							<% if(err.length !== 0) { %>
								<div class="alert alert-danger" role="alert" style="margin-bottom: 15px">
									<p class="error"><%= err %></p>
								</div>
							<% } %>
<!--
                            <div class="panel panel-default">
                                <div class="panel panel-heading">
                                    <h3 class="panel-title">Names:</h3>
                                </div>
                                <div class="panel-body">
                                    <ul id="enteredNames"></ul>
                                </div>

                            </div>
                            <button type="button" class="btn btn-default" id="addNameButton">Add name</button>
-->
                            <div style="margin-bottom: 15px" class="input-group">
                                <input id="name" type="text" class="form-control" name="name"
                                       value="<% if (exercise) { %><%= exercise.names[0]%><% } %>" maxlength="255">

                                <%  // logic for finding difficulty
                                if(exercise)
                                    var diffsel = parseInt(exercise.difficulty.id);
                                %>
                            </div>

							<div style="margin-bottom: 15px" class="input-group">
	           					<h5>Difficulty:</h5>
								<select id="difficulty" class="form-control" name="difficulty">
									<option value="beginner"
                                            <% if(diffsel === 1) { %>selected<% } %>
                                            >Beginner</option>
									<option value="intermediate"
                                            <% if(diffsel === 2) { %>selected<% } %>
                                            >Intermediate</option>
									<option value="advanced"
                                            <% if(diffsel === 3) { %>selected<% } %>
                                            >Advanced</option>
								</select>
							
                            </div>
                                
                            <div style="margin-bottom: 15px" class="input-group">
								<h5>Description:</h5>
								<textarea class="form-control" id="description" style="resize:vertical" rows="4"
                                          cols="50" name="description" maxlength="1023"
                                        ><% if (exercise) { %><%= exercise.description %><% } %></textarea>
               
                            </div>

                            <%  // logic for finding muscle group
                            if(exercise)
                                var muscsel = parseInt(exercise.musclegroup.id);
                            %>

							<div style="margin-bottom: 15px" class="input-group">
								<h5>Muscle Groups</h5>
								<select id="musclegroup" class="form-control" name="musclegroup">
                                    <option value="whole"
                                            <% if(muscsel === 1) {%>selected<% } %>
                                            >Whole body</option>
                                    <option value="upperbody"
                                            <% if(muscsel === 2) {%>selected<% } %>
                                            >Upper body</option>
									<option value="lowerbody"
                                            <% if(muscsel === 3) {%>selected<% } %>
                                            >Lower body</option>
									<option value="core"
                                            <% if(muscsel === 4) {%>selected<% } %>
                                            >Core</option>
								</select>
                            </div>
						
							<div style="margin-bottom: 15px" class="input-group">
								<h5>Media URL (optional)</h5>
								<input id="media" type="text" class="form-control" name="media" style="resize:none" maxlength="1023">     
   
                            </div>

                              <div class="form-group pull-right">
                                   <div class="col-sm-12 controls">
                                   	<!--
                                      <a id="btn-save" href="exercise/save" class="btn btn-success">Save Exercise</a>
                                  -->
                                      <% if(!exercise) { %>
                                         <button class="btn btn-success">Save exercise</button>
                                      <% } else { %>
                                         <!-- do proper linkage -->
                                         <a class="btn btn-success">I'm a dummy button</a>
                                      <% } %>
                                    </div>
                                    
                              </div>

                              <div class="form-group pull-left">
                                   <div class="col-sm-12 controls">
                                      <a id="btn-cancel" href=
                                         "exercise/cancel<% if(exercise) { %>?eid=<%= exercise.id %><% } %>"
                                         class="btn btn-danger">Cancel</a>
                                    </div>
                              </div>

					

             </form> 
		  
	<!--row-->
	</div>
<!--container-->
</div>

<% include ../fragments/footer %>

<script src = "../javascripts/bootstrap.js"></script>


</body>


</html>

