
<!DOCTYPE html>
<html>

<head>
<meta charset=”utf-8”>

<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel = "stylesheet" type ="text/css" href = "stylesheets/bootstrap/css/bootstrap.css" >


<script src="../javascripts/jquery-1.11.0.min.js"></script>


<link rel = "stylesheet" type = "text/css" href = "stylesheets/user_search_results.css">

</head>

<body>

<% include fragments/header %>

<div class="container">

	<div class="row">

		<div class="col-md-4 col-sm-4 col-xs-4">

		<% include fragments/itemsearchpanel %>

		</div>

		<div class="col-md-8 col-sm-8 col-xs-8">

		<div class="well">


		<ul id="resultsList" class="list-group" >

		<% for (var i = 0; i<Math.min(5,exercises.length); i++){ %>

		<li class="list-group-item" style="height:90px">
			<div class="col-md-2 col-sm-2 col-xs-2">
			<a href="/encyclopedia/exercise_entry?eid=<%=exercises[i].id%>">
				<media>
        				<% if (exercises[i].photos[0] === undefined) { %>

						<img src= "/images/generic_exercise.jpeg" width="65" height="65">
							
						<% } else { %>

						<img src= <%=exercises[i].photos[0].url %> width="65" height="65">

						<% } %>
				</media>
				</a>
			</div>
			<div class="col-md-10 col-sm-10 col-xs-10">
			<h4><%= exercises[i].names[0].name %> - <%= exercises[i].description%></h4>
			</div>

		</li>

		<% } %>


		<li class="list-group-item" style="height:60px">

		<center>
		<div class="btn-group">
		   <button type="button" class="btn btn-default">1</button>
		  <button type="button" class="btn btn-default">2</button>
		  <button type="button" class="btn btn-default">3</button>
		  <button type="button" class="btn btn-default">4</button>
		  <button type="button" class="btn btn-default">5</button>
		</div>
		</center>
		</li>
		</ul>
			</div>

		</div>

	</div>

</div>

<% include fragments/footer %>


<script src = "javascripts/bootstrap.js"></script>

</body>


</html>



