
<!DOCTYPE html>
<html>

<head>
<meta charset=”utf-8”>

<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel = "stylesheet" type ="text/css" href = "stylesheets/bootstrap/css/bootstrap.css" >

<script src="../javascripts/jquery-1.11.0.min.js"></script>
<script src="../javascripts/genResults.js"></script>

<link rel = "stylesheet" type = "text/css" href = "stylesheets/user_search_results.css">

</head>

<body>

<% include fragments/header %>

<div class="container">

<div id="exercisesJSON" style="display: none"><%=JSON.stringify(exercises)%></div>
	<div class="row">

		<div class="col-md-4 col-sm-4 col-xs-4">

		<% include fragments/itemsearchpanel %>

		</div>

		<div class="col-md-8 col-sm-8 col-xs-8">

		<div class="well">


		<ul id="resultsList" class="list-group" >

		

		<li class="list-group-item" style="height:60px">

		<center>
		<div class="btn-group">
            <button id="PrevButton" class="btn btn-default" onclick="<pageN=Math.max(<%=pageN%>-1,0)">Previous</button>
			<button id="PageNumber" class="btn btn-default"><%=pageN%></button>
            <button id="NextButton" class="btn btn-default" onclick="<pageN=Math.min(<%=pageN%>+1,Math.floor(exercises.length/5))">Next</button>
		</div>
		</center>
		</li>
		</ul>
			</div>

		</div>

	</div>

</div>

<% include fragments/footer %>


<script src = "javascripts/bootstrap.js"></script>

</body>


</html>



