<!DOCTYPE html>
<html lang="en">

<head>
<meta charset=”utf-8”> 

<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel = "stylesheet" type ="text/css" href = "stylesheets/bootstrap/css/bootstrap.css" >

<script src="../javascripts/jquery-1.11.0.min.js"></script>
</head>

<body>

<% include fragments/header %>
<% /* %>
  <ul>
    <% for(var i=0; i<exercises.length; i++){ %>
      <li><%= JSON.stringify(exercises[i]) %></li>
    <% } %>
  </ul>

<% */ %>

 	<script>
	$( "#encyclopedia" ).addClass("active");
	</script>

<div class="container">

<div class="row">

		<div class="col-md-4 col-sm-4 col-xs-4">
			<% include fragments/itemsearchpanel %>			
		</div>

	<div class="col-md-8 col-md-8 col-xs-8">

	<!--Populates a 5x2 grid of new exercises -->

	<h3>New Exercises</h3>
	<hr>

	<% for (var i=0; i<Math.ceil(exercises.length/5); i++){ %>
        <div class="row">
        <% for(var j=0; j<Math.min(5, exercises.length-5*i); j++) {
            var exercise = exercises[i*5+j];
            var thumb = "images/generic_exercise.jpeg";
            if(exercise.photos.length > 0)
                thumb = exercise.photos[0].url;
        %>
            <div class="col-md-2 col-sm-2 col-xs">
                <center>
                    <a href="encyclopedia/exercise_entry?eid=<%=exercise.id%>">
                        <img src=<%=thumb%> style="width:80px; height:80px">
                    </a>
                    <h4><%= exercise.names[0].name %></h4>
                </center>
            </div>
        <% } %>
        </div>
	<% } %>



	<!--Populates a 5x2 grid of new workouts -->

	<h3>New Workouts</h3>
	<hr>
        <!-- TODO: Change to workouts -->
        <% for (var i=0; i<Math.ceil(exercises.length/5); i++){ %>
        <div class="row">
            <% for(var j=0; j<Math.min(5, exercises.length-5*i); j++) {
                var exercise = exercises[i*5+j];
                var thumb = "images/generic_exercise.jpeg";
                if(exercise.photos.length > 0)
                    thumb = exercise.photos[0].url;
            %>
            <div class="col-md-2 col-sm-2 col-xs">
                <center>
                    <a href="encyclopedia/exercise_entry?eid=<%=exercise.id%>">
                        <img src=<%=thumb%> style="width:80px; height:80px">
                    </a>
                    <h4><%= exercise.names[0].name %></h4>
                </center>
            </div>
            <% } %>
        </div>
        <% } %>
	
		<!-- end column -->
		</div>
		
	<!--end row -->
	</div>
<!--end container -->
</div>

<% include fragments/footer %>

<script src = "javascripts/bootstrap.js"></script>



</body>


</html>

