<!DOCTYPE html>
<html>

<head>
<meta charset=”utf-8”> 

<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel = "stylesheet" type ="text/css" href = "stylesheets/bootstrap/css/bootstrap.css" >

<link rel = "stylesheet" type = "text/css" href = "stylesheets/encyclopedia_results.css">


<script src="javascripts/jquery-1.11.0.min.js"></script>

</head>

<body>


<% include fragments/header %>


 	<script>
	$( "#myfavorites" ).addClass("active");
	</script>

<div class="container">

	<div class="row">
<!--<%= JSON.stringify(exercises) %>-->
		<div class="col-md-6 col-sm-6 col-xs-6">

		<h3>Favorite Exercises</h3>

		<ul id="resultsList" class="list-group">

				<% for (var i = 0; i<exercises.length; i++){ %>

				<li class="list-group-item">
					<div class="col-md-2 col-sm-2 col-xs-2">
							<media>
								<img src= <%=exercises[i].photos[0].url %> width="65" height="65"></img>
							</media>
					</div>
					<div class="col-md-10 col-sm-10 col-xs-10">
						<h4><strong><a href="http://localhost:8080/encyclopedia/exercise_entry?eid=<%=exercises[i].id%>"><%=exercises[i].names[0].name %></a></strong> - <%= exercises[i].description %><!--description of item will look something like this...description of item will look something like this...--></h4>	
					</div>
	
				</li>

				<% } %>

			</ul>

		</div>	
		
		<div class="col-md-6 col-sm-6 col-xs-6">	
			
			<h3>Favorite Workouts</h3>

			<ul id="resultsList2" class="list-group">

				<% for (var i = 0; i<5; i++){ %>

				<li class="list-group-item">
					<div class="col-md-2 col-sm-2 col-xs-2">
							<media>
								<img src="images/generic_exercise.jpeg" width="65" height="65"></img>
							</media>
					</div>
					<div class="col-md-10 col-sm-10 col-xs-10">
						<h4>Workout <%= i+1 %> - description of item will look something like this...description of item will look something like this...</h4>	
					</div>
	
				</li>

				<% } %>

			</ul>

		</div>

	</div>

</div>

<% include fragments/footer %>

<script src = "javascripts/bootstrap.js"></script>


</body>


</html>

