<!DOCTYPE html>
<html>

<head>
<meta charset=”utf-8”> 

<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel = "stylesheet" type ="text/css" href = "stylesheets/bootstrap/css/bootstrap.css" >

<link rel = "stylesheet" type = "text/css" href = "stylesheets/encyclopedia_results.css">


<script src="javascripts/jquery-1.11.0.min.js"></script>

</head>

<body>


<% include fragments/header %>


 	<script>
	$( "#myfavorites" ).addClass("active");
	</script>

<div class="container">

	<div class="row">
<!--<%= JSON.stringify(exercises) %>-->
		<div class="col-md-6 col-sm-6 col-xs-6">

		<h3>Favorite Exercises</h3>

		<ul id="resultsList" class="list-group">

				<% for (var i = 0; i<exercises.length; i++){ %>

				<li class="list-group-item">
					<div class="col-md-2 col-sm-2 col-xs-2">
							<media>
								<% if (exercises[i].photos[0] === undefined) { %>

								<img src= "/images/generic_exercise.jpeg" width="65" height="65"></img>
		
								<% } else { %>

								<img src= <%=exercises[i].photos[0].url %> width="65" height="65"></img>
		
								<% } %>
							</media>
					</div>
					<div class="col-md-9 col-sm-9 col-xs-9">
						<h4><strong><a href="http://localhost:8080/encyclopedia/exercise_entry?eid=<%=exercises[i].id%>"><%=exercises[i].names[0].name %></a></strong> - <%= exercises[i].description %><!--description of item will look something like this...description of item will look something like this...--></h4>	
					</div>
					<div class="col-md-1 col-sm-1 col-xs-1">
						<button id="<%=exercises[i].id%>" type="button" class="btn-remove btn btn-default" style="padding-left:5px; padding-right:5px; padding-top:0px; padding-bottom:0px" > <span class="glyphicon glyphicon-remove"></span></button>
					</div>
	
				</li>

				<% } %>

			</ul>

		</div>	
		
		<div class="col-md-6 col-sm-6 col-xs-6">	
			
			<h3>Favorite Workouts</h3>

			<!--

			<ul id="resultsList2" class="list-group">

				<% for (var i = 0; i<5; i++){ %>

				<li class="list-group-item">
					<div class="col-md-2 col-sm-2 col-xs-2">
							<media>
								<img src="images/generic_exercise.jpeg" width="65" height="65"></img>
							</media>
					</div>
					<div class="col-md-10 col-sm-10 col-xs-10">
						<h4>Workout <%= i+1 %> - description of item will look something like this...description of item will look something like this...</h4>	
					</div>
	
				</li>

				<% } %>

			</ul>

			-->

		</div>

	</div>

</div>

<script>


    $(function(){				
        $('.btn-remove').click(function(e){
            e.preventDefault();
            console.log('Remove favorite exercise clicked');

           var data = { query: 'favExerciseDeleteByUserIdExerciseId', userId: <%=userId%>, exerciseId: this.id};

            $.ajax({
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                url: '/query'
            })
            .done(function(exercises) {
				console.log('success');
				location.reload();
        });				

    });
	
});



</script>

<% include fragments/footer %>

<script src = "javascripts/bootstrap.js"></script>


</body>


</html>

