<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Exercise entry for <%= names[0].name %></title>

    <!-- Bootstrap core CSS -->
    <link rel = "stylesheet" type ="text/css" href = "stylesheets/bootstrap/css/bootstrap.css" >
    <script src="../javascripts/jquery-1.11.0.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="stylesheets/blog.css" rel="stylesheet">
  </head>

  <body>

    <% include ../fragments/header %>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title"><%= names[0].name %></h1>
        <p>
          <a id="editButton" class="btn btn-sm btn-default" href="/encyclopedia/exercise_entry/edit?eid=<%= id %>">Edit this entry</a>
          <a id="faveButton" class="btn btn-sm btn-default" href="/myfavorites?type=exercise,id=<%= id %>">Add to favorites</a>
        </p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h3>Other names:</h3>
            <p>
                <% for(var i = 0; i < names.length; i++) { %>
                    <%= names[i].name %>,
                <% } %>
            </p>

            <h3>Difficulty: <%= difficulty.name %></h3>

            <h3>Description</h3>
            <p><%= description %></p>

            <h3>Muscle group: <%= musclegroup.name %></h3>

            <h3>Media</h3>
            <div id="medias" style="max-height: 300px; overflow-x:scroll">
              <table style="border-collapse: separate; border-spacing: 10px">
                <tr>
                  <% for (var i=0; i < photos.length; i++) { %>
                    <td>
                      <%= photos[i].url %>
                    </td>
                  <% } %>
                  <% for (var i=0; i < videos.length; i++) { %>
                  <td>
                      <%= videos[i].url %>
                  </td>
                  <% } %>
                </tr>
              </table>
            </div>
            
          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

      </div><!-- /.row -->

    </div><!-- /.container -->
  
  <% include ../fragments/footer %>
  <script src = "javascripts/bootstrap.js"></script>
  </body>
</html>
