<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Workout entry for <%= workout.name %></title>

    <!-- Bootstrap core CSS -->
    <link rel = "stylesheet" type ="text/css" href = "stylesheets/bootstrap/css/bootstrap.css" >
    <script src="../javascripts/jquery-1.11.0.min.js"></script>
    <script src="../javascripts/htmlForWorkout.js"></script>
    <script>
        $(function() {
            var workout = JSON.parse($('#workout').html());
            console.log(htmlForWorkout(workout));
            $('#workoutDisplay').prepend(htmlForWorkout(workout));
        })
    </script>
    <!-- Custom styles for this template -->
    <link href="stylesheets/blog.css" rel="stylesheet">
  </head>

  <body>


    <% include ../fragments/header %>

    <div style="display:none" id="workout"><%= JSON.stringify(workout) %></div>
    <div class="container">
	
      <div class="blog-header">
        <h1 class="blog-title"><%= workout.name %></h1>
        <p>
          <a id="editButton" class="btn btn-sm btn-default" href="/encyclopedia/workout_entry/edit?wid=<%= workout.id %>">Edit this entry</a>
		  <!-- <a id="faveButton" class="btn btn-sm btn-default">Add to favorites</a> -->
        </p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">

            <h3>Workout</h3>

            <div id="workoutDisplay"></div>

            <h3>Difficulty: <%= workout.difficulty.name %></h3>

            <h3>Description</h3>
            <p><%= workout.description %></p>

            <h3>Media</h3>
            <div id="medias" style="max-height: 300px; overflow-x:auto">
              <table style="border-collapse: separate; border-spacing: 10px">
                <tr>
                  <% for (var i=0; i < workout.photos.length; i++) { %>
                    <td>
					<!--TODO: Adjust Sizes -->
					<img src=<%= workout.photos[i].url %> width="252px" height="252px">

                    </td>
                  <% } %>
                  <% for (var i=0; i < workout.videos.length; i++) { %>
                  <td>
					<!--TODO: Adjust Sizes -->
					  <iframe id="videoInsert" width="448" height="252" frameborder="0"
                              src="<%- toEmbedURL(workout.videos[i].url) %>" allowfullscreen></iframe>
                  </td>
                  <% } %>
                </tr>
              </table>
            </div>
            
          </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

      </div><!-- /.row -->


    </div><!-- /.container -->

  <% include ../fragments/footer %>

<!-- Script for favoriting exercises -->
<% /* %>
<script>
    $(function(){				
        $('#faveButton').click(function(e){
            e.preventDefault();
            console.log('Exercise Favorited clicked');

            // Get user's favorite exercises
            var data = { query: 'exercisesGetByUserFav', userId: <%= userId %> };
            $.ajax({
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                url: '/query'
            })
            .done(function(exercises) {
                  // Check if exercise is already favorited
                  for(var i=0; i < exercises.length; i++) {
                      if(parseInt(exercises[i].id) === parseInt(<%= id %>)) {
                         alert('Exercise is already in favorites!');
                         return;
                      }
                  }
                  // Exercise wasn't found, so add to favorites
                  data.query = 'userCreateFavExercise';
                  data.userId = <%= userId %>;
                  data.exerciseId = <%= id %>;
                  $.ajax({
                      type: 'POST',
                      data: JSON.stringify(data),
                      contentType: 'application/json',
                      url: '/query'
                  })
                  .done(function() {
                      console.log('Exercise has been saved as favorite');
                      document.location = '/myfavorites';
                  });
            });
        });				
    });
</script>
<% */ %>
  </body>
</html>
